<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='style/style.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='style/users.css')}}">
  <title>Document</title>
</head>

<body>
  <header>
    <a href="">
      <img class="img_header" src="{{url_for('static', filename='assets/logo.png')}}" alt="Logo_UNES">
    </a>

    <div class="button_header">
      <a href="/">Home</a>|
      <a href="/sobre">Sobre nós</a>|
      <a href="/contatos"> Contato</a>|
      <a href="/usuarios"> Usuários</a>
    </div>
  </header>

  <form action="/contatos" method="POST">
    <h1>Entre em contato</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A hic sunt id voluptatum laboriosam!</p>
    <label for="email">
      Seu e-mail:<br>
      <input type="email" name="email" id="email">
    </label>
    <br>
    <label for="Assunto">
      Assunto:<br>
      <input type="text" name="assunto" id="Assunto">
    </label>
    <br>
    <label for="comment">
      Descrição:<br>
      <textarea name="descricao" id="comment" cols="30" rows="5"></textarea>
    </label>
    <br>

    <input type="submit" value="Enviar">

  </form>
  <h3>Todos os direitos reservados</h3>
  </main>


</body>

</html>